<!-- 首页 -->
{extend name="common/base" /}
{block name="header"}
<style type="text/css">
	.carousel{
		width: 100%;
	}
	.layui-main{
		height: 550px;
	}
	.layui-container{
		margin: 10px;
		border: solid 1px;
	}
	.course-item{
		margin: 20px;
		width: 220px;
		height: 170px;
	}
	h1{
		font-size: 28px !important;
		text-align: center;
	}
	.title{
		margin-left: 19px;
	    margin-top: -9px;
	}
</style>
{/block}
{block name="body"}
<!-- 轮播图begin -->
<div class="layui-carousel" id="header-carousel">
	<div carousel-item>
		{foreach name="list" item="val"}
		   {if condition="$val.status==1"}
		   	  <div><a href="{$val.url}"><img src="{$val.src}" class="carousel" alt="{$val.desc}"></a></div>
		   {/if}
		{/foreach}
	</div>
</div>
<!-- 轮播图end -->
<!-- 课程begin -->
<div class="layui-main">
	<div class="layui-container">
		  <h1>猜你喜欢</h1>
		<div class="layui-row">
			<div class="layui-col-md3">
				<a href="#"><img src="__SRC__/images/UI.jpg" class="course-item"></a>
				<div class="title">UI设计入门与精通</div>
			</div>
			<div class="layui-col-md3">
				<a href="#"><img src="__SRC__/images/UI.jpg" class="course-item"></a>
			</div>
			<div class="layui-col-md3">
				<a href="#"><img src="__SRC__/images/UI.jpg" class="course-item"></a>
			</div>
			<div class="layui-col-md3">
				<a href="#"><img src="__SRC__/images/UI.jpg" class="course-item"></a>
			</div>
		</div>
</div>
	<div class="layui-container">
		  <h1 align="center">精品课程</h1>
		<div class="layui-row">
			<div class="layui-col-md3">
				<a href="#"><img src="__SRC__/images/UI.jpg" class="course-item"></a>
			</div>
			<div class="layui-col-md3">
				<a href="#"><img src="__SRC__/images/UI.jpg" class="course-item"></a>
			</div>
			<div class="layui-col-md3">
				<a href="#"><img src="__SRC__/images/UI.jpg" class="course-item"></a>
			</div>
			<div class="layui-col-md3">
				<a href="#"><img src="__SRC__/images/UI.jpg" class="course-item"></a>
			</div>
		</div>
</div>
</div>
<!-- 课程end -->
{/block}
{block name="footer"}
<script type="text/javascript">
	layui.use(['element','jquery','carousel','layer'],function(){
		var element = layui.element,
			$ = layui.$,
			carousel = layui.carousel,
			layer =  layui.layer;
			//轮播图
			carousel.render({
				elem:'#header-carousel',
				width:'100%',
				height:'260px',
				anim:'fade'
			});
			//注册弹层
	});
</script>
	<script type="text/javascript">
			function register(title,url,w,h) {
				openPage(title,url,w,h);
			}
			function login(title,url,w,h){
				openPage(title,url,w,h);
			}
	</script>
{/block}